<launch>
  <arg name="rsbb_host" default="192.168.255.255"/>
  <arg name="rsbb_port" default="6666"/>
  <arg name="benchmarks_file" default="$(find roah_rsbb)/config/benchmarks.yaml"/>
  <arg name="schedule_file" default="$(find roah_rsbb)/config/schedule.yaml"/>
  <arg name="passwords_file" default="$(find roah_rsbb)/config/passwords.yaml"/>
  <arg name="fbm2_locations_file" default="$(find rockin_scoring)/config/fbm2h.yaml"/>
  <arg name="log_dir" default="$(find roah_rsbb)/log"/>
  <arg name="bell_ring_command" default="mplayer $(find roah_rsbb)/bell.mp3"/>
  <arg name="timeout_ring_command" default="mplayer $(find roah_rsbb)/timeout.mp3"/>

  <node pkg="roah_rsbb" type="shutdown_service" name="roah_rsbb_core_shutdown" required="true"/>

  <!--  launch-prefix="xterm -e gdb -ex run - -args" -->
  <node pkg="roah_rsbb" type="core" name="roah_rsbb_core" respawn="true">
    <param name="rsbb_host" type="string" value="$(arg rsbb_host)"/>
    <param name="rsbb_port" type="int" value="$(arg rsbb_port)"/>
    <param name="benchmarks_file" type="string" value="$(arg benchmarks_file)"/>
    <param name="schedule_file" type="string" value="$(arg schedule_file)"/>
    <param name="passwords_file" type="string" value="$(arg passwords_file)"/>
    <param name="fbm2_locations_file" type="string" value="$(arg fbm2_locations_file)"/>
    <param name="log_dir" type="string" value="$(arg log_dir)"/>
  </node>

  <include file="$(find roah_rsbb)/launch/roah_rsbb_client.launch"/>

  <include file="$(find roah_devices)/launch/run_dummy.launch"/>

  <node pkg="roah_rsbb" type="sounds" name="roah_rsbb_sounds" respawn="true">
    <param name="bell_ring_command" type="string" value="$(arg bell_ring_command)"/>
    <param name="timeout_ring_command" type="string" value="$(arg timeout_ring_command)"/>
  </node>

  <include file="$(find roah_rsbb)/launch/dummy_benchmarking_module.launch"/>

</launch>
